@using TR5MidTerm.Models.TR5MidTermViewModels

@model 水電總表檔DisplayViewModel

@{
    ViewData["Title"] = "刪除水電總表檔資料";
}

<h1 class="mt-2 text-danger">@ViewData["Title"]</h1>

<h3 class="text-warning">請確認是否刪除此筆水電總表檔資料？</h3>

<div>

    @* 錯誤訊息區塊 *@
    <div id="ModelErrorDiv" class="validation-summary-valid text-danger">
        <ul></ul>
    </div>
    <div class="text-danger">
        @Html.ValidationSummary(
            excludePropertyErrors: true,
            message: "",
            htmlAttributes: new { @class = "text-danger" })
    </div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.事業顯示)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.事業顯示)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.單位顯示)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.單位顯示)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.部門顯示)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.部門顯示)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.分部顯示)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.分部顯示)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.總表號)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.總表號)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.案號)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.案號)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.計量表種類)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.計量表種類)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.計量對象)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.計量對象)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.修改人)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.修改人)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.修改時間)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.修改時間)</dd>

    </dl>

    <form asp-action="DeleteConfirmed">
        @*<form asp-action="Delete">*@
        @Html.AntiForgeryToken()

        @* 主鍵欄位（隱藏） *@
        <input type="hidden" asp-for="事業" />
        <input type="hidden" asp-for="單位" />
        <input type="hidden" asp-for="部門" />
        <input type="hidden" asp-for="分部" />
        <input type="hidden" asp-for="總表號" />

        <div class="form-group">
            <input type="submit" value="確認刪除" class="btn btn-danger" /> |
            <a href="javascript:history.back()" class="btn btn-secondary">取消</a>
        </div>
    </form>
</div>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}