@using TR5MidTerm.Models.TR5MidTermViewModels;
@model 水電總表檔DisplayViewModel
@using TscLibCore.Commons;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using TscLibCore.Modules;
@using TscLibCore.Authority;
@using System.ComponentModel.DataAnnotations;
@using TableFieldDescDictionary =
    System.Collections.Generic.Dictionary<System.String, System.Collections.Generic.Dictionary<System.String, System.String>>;
@{
    //產生欄位名稱中文定義
    var tablesField = ViewBag.TableFieldDescDict;
    var masterTableDescHTML = Html.Raw(CreateTableFieldsDescription.TableFieldDescToHTML(tablesField, TableType.MasterTable));
    var detailTableDescHTML = Html.Raw(CreateTableFieldsDescription.TableFieldDescToHTML(tablesField, TableType.DetailTable));

    var requestToken = Html.Raw(Antiforgery.GetAndStoreTokens(Context).RequestToken);
    UserAccountForSession sess = HttpContextAccessor.HttpContext.Session.GetObject<UserAccountForSession>(nameof(UserAccountForSession));

    @*ViewData["Title"] = (string)sess.GetUserAuthority()["procname"];*@
    ViewData["Title"] = "TR5MIDTERM_02 水電表檔維護";
    var canCreate = Html.Raw(sess.AddYn).ToString().ToLower();
    var canUpdate = Html.Raw(sess.UpdateYn).ToString().ToLower();
    var canDelete = Html.Raw(sess.DeleteYn).ToString().ToLower();
    var canQuery = Html.Raw(sess.QueryYn).ToString().ToLower();
    var canExport = Html.Raw(sess.ExportYn).ToString().ToLower();

    var dateTimePropertyName = new
    {
        MasterTable = new Dictionary<string, string>(),
        DetailTable = new Dictionary<string, string>(),
    };
    var dateType = (datetime: "datetime", date: "date");
    foreach (var propName in ((TableFieldDescDictionary)tablesField)[TableType.MasterTable.ToString()])
    {
        var prop = typeof(水電總表檔DisplayViewModel).GetProperty(propName.Key);
        Type propertyType = prop.PropertyType;
        Type typeWithNullable = Nullable.GetUnderlyingType(propertyType);
        propertyType = typeWithNullable ?? propertyType;
        if (propertyType == typeof(DateTime))
        {
            var att = (DataTypeAttribute)prop.GetCustomAttributes(typeof(DataTypeAttribute), false).FirstOrDefault();

            var dateTimeFormat = dateType.datetime;

            if (att != null && ((DataTypeAttribute)att).DataType == DataType.Date)
            {
                dateTimeFormat = dateType.date;
            }

            dateTimePropertyName.MasterTable.Add(propName.Key, dateTimeFormat);
        }
    }
    foreach (var propName in ((TableFieldDescDictionary)tablesField)[TableType.DetailTable.ToString()])
    {
        var prop = typeof(水電分表檔DisplayViewModel).GetProperty(propName.Key);
        Type propertyType = prop.PropertyType;
        Type typeWithNullable = Nullable.GetUnderlyingType(propertyType);
        propertyType = typeWithNullable ?? propertyType;
        if (propertyType == typeof(DateTime))
        {
            var att = (DataTypeAttribute)prop.GetCustomAttributes(typeof(DataTypeAttribute), false).FirstOrDefault();

            var dateTimeFormat = dateType.datetime;

            if (att != null && ((DataTypeAttribute)att).DataType == DataType.Date)
            {
                dateTimeFormat = dateType.date;
            }

            dateTimePropertyName.DetailTable.Add(propName.Key, dateTimeFormat);
        }
    }
}

<h1 class="mt-1">@ViewData["Title"]</h1>
<div id="tr5midtermcontroller-index">
    <table-component id="tr5midtermcontroller-master-table"
                     @*sticky-header-height="642px"*@
                     ref="tr5midtermcontroller-master-table">
        <template #default="slot">
            <!--OP Button-->
            <b-row class="mb-2">
                <b-col>
                    <b-button v-if="slot.data.operatePermissions.canCreate" v-b-modal.master-table-create-modal class="mr-1" variant="detail3">建立</b-button>
                    <b-button v-if="slot.data.operatePermissions.canDelete" v-b-modal.master-table-edit-modal @@click="slot.data.isNewItemOnTop = false" :disabled="!slot.data.selectedMasterRow?.params?.canClickEditOrDelete || slot.data.params.data.isBusy" class="mr-1" variant="detail3">
                        <span v-if="slot.data.params.data.isBusy" class="spinner-overlay">
                            <b-spinner small type="border" class="custom-spinner"></b-spinner>
                        </span>編輯
                    </b-button>
                    <b-button v-if="slot.data.operatePermissions.canDelete" v-b-modal.master-table-del-modal @@click="slot.data.isNewItemOnTop = false" :disabled="!slot.data.selectedMasterRow?.params?.canClickEditOrDelete || slot.data.params.data.isBusy" class="mr-1" variant="detail3">
                        <span v-if="slot.data.params.data.isBusy" class="spinner-overlay">
                            <b-spinner small type="border" class="custom-spinner"></b-spinner>
                        </span>刪除
                    </b-button>
                    <b-button v-if="slot.data.operatePermissions.canQuery" v-b-modal.master-table-query-modal class="mr-1" variant="detail3">進階查詢</b-button>
                    <!--Master OP Page-->
                    @*<fetched-page-modal url="CreateMulti" id="master-table-create-multi-modal" title="批次新增單檔資料" :classes="['max-width-90-pt']"></fetched-page-modal>*@
                    <fetched-page-modal url="Create" id="master-table-create-modal" title="新增單檔資料"></fetched-page-modal>
                    <fetched-page-modal url="Edit" :param="slot.data.selectedMasterRow?.params" id="master-table-edit-modal" title="更新資料"></fetched-page-modal>
                    <fetched-page-modal url="Delete" :param="slot.data.selectedMasterRow?.params" id="master-table-del-modal" title="刪除操作"></fetched-page-modal>
                    <query-page-modal id="master-table-query-modal" title="進階查詢" :queryfields="slot.data.mTableFields" :is_filtered="slot.data.isFiltered"></query-page-modal>
                    <!--Detail OP Page-->
                    <fetched-page-modal url="CreateDetail" :param="slot.data.selectedMasterRow?.params"
                                        id="detail-table-create-modal" title="新增明細檔"></fetched-page-modal>
                    <fetched-page-modal url="EditDetail" :param="slot.data.selectedDetailRow?.param"
                                        id="detail-table-edit-modal" title="更新資料"></fetched-page-modal>
                    <fetched-page-modal url="DeleteDetail" :param="slot.data.selectedDetailRow?.param"
                                        id="detail-table-del-modal" title="刪除操作"></fetched-page-modal>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col cols="8">
                    <multi-input :schema="slot.data.params.data.querySchema"
                                 :select-options="slot.data.params.data.querySelectOptions"
                                 :value-obj="slot.data.params.data.queryData"
                                 v-on:field-change="slot.data.queryChanged"
                                 v-on:reset-all="slot.data.queryResetAll"
                                 v-on:filter-click="slot.data.queryFilterClicked">
                    </multi-input>
                </b-col>
                <b-col cols="2">

                    <sticky-fields-selector :field-key-desc="slot.data.mTableFieldDesc"
                                            selected-indic-limit=3
                                            ref="stickySelector">
                    </sticky-fields-selector>
                </b-col>

                <b-col cols="2">
                    <b-button class="ml-2" variant="detail3"
                              v-show="slot.data.$parent?.$refs?.stickySelector?.selected"
                              @@click="()=>slot.data.$parent.$refs.stickySelector.selectedClear()">
                        取消凍結
                    </b-button>
                </b-col>
            </b-row>

        </template>

    </table-component>
</div>
@*@section Styles {
        <style>
            .btn-custom-outline-disabled {
                color: #999;
                border-color: #999;
                background-color: transparent;
                cursor: not-allowed;
                opacity: 0.6;
            }

                .btn-custom-outline-disabled:hover {
                    background-color: #ccc;
                    color: #666;
                }

            .btn-custom-outline-detail {
                color: #6c757d; /* 自訂灰色風格 */
                border-color: #6c757d;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
            }

                .btn-custom-outline-detail:hover {
                    background-color: #6c757d;
                    color: white;
                }

                .btn-custom-outline-detail:focus,
                .btn-custom-outline-detail:active {
                    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
                }
        </style>

    }*@

@section Scripts {
    <script>
        //#region 導入ALERT BOX
        $(document).ready(function () {
        // 自訂測試按鈕提示
        window.showCustomAlert = function () {
            const msgContent = `
                <ul>
                    <li>This is an apple</li>
                    <li>This is an apple pen</li>
                </ul>
                <img class='align-h-center' src='https://upload.wikimedia.org/wikipedia/zh/d/db/Pen-Pineapple-Apple-Pen.jpg' />
            `;
            SharedVue.alertBox(20).showInfoAlert("This is a pen", msgContent);
         };
        const success = '@TempData["Success"]';
        const error = '@TempData["Error"]';

        if (success) {
            SharedVue.alertBox().showSuccessAlert('成功', success);
        } else if (error) {
            SharedVue.alertBox().showErrorAlert('錯誤', error);
        }

        });
        //#endregion
        (function () {
            //#region 主檔
            //主檔 Table 欄位名稱中文定義
            const _mTableFieldDesc = @masterTableDescHTML;

            //主檔 Table Key 欄位名稱
            const masterTableKeys = [
                '事業',
                '單位',
                '部門',
                '分部',
                '總表號',
            ];

            //主檔 data source 傳給 Server的參數
            let dsMasterProviderParams = {
                searchBy: null
            };

            const dateTimePropertyName = @Json.Serialize(@dateTimePropertyName);

            //主檔 data source
            const _dsMasterProvider = async function (ctx) {
                try {
                    dsMasterProviderParams.pageSize = ctx.perPage;
                    dsMasterProviderParams.pageIndex = ctx.currentPage;
                    dsMasterProviderParams.sortBy = ctx.sortBy;
                    dsMasterProviderParams.isDesc = ctx.sortDesc || false;
                    let response = await axios.post('GetDataPost', dsMasterProviderParams, {
                        headers: {
                            'content-type': 'application/json',
                            "RequestVerificationToken": "@requestToken"
                        }
                    });

                    this.totalRows = response.data.total;


                    let latestData = TSCC.Utility.Table.GetDataSource.call(this, masterTableKeys, response, ctx);

                    //轉成台灣時間
                    latestData.forEach(data => {
                        Object.entries(dateTimePropertyName[TableType.MasterTable]).forEach(([propName, dateType]) => {
                            let dateISOstring = data[propName];
                            if (data.hasOwnProperty(propName) && dateISOstring) {
                                data[propName] = new Date(dateISOstring).to_zhTW_string(dateType);
                            }
                        });
                    });

                    return latestData;
                } catch (error) {
                    debugger;
                    console.log(error);
                    return [];
                }
            }

            //明細檔 Table 欄位名稱中文定義
            const _dTableFieldDesc = @detailTableDescHTML;

            //明細檔 Table Key 欄位名稱
            const detailTableKeys = [
                '事業',
                '單位',
                '部門',
                '分部',
                '總表號',
                '分表號',
            ];

            //明細檔 data source
            const _dsDetailProvider = async function (ctx) {
                try {
                    let postData = {
                        事業: this.事業,
                        單位: this.單位,
                        部門: this.部門,
                        分部: this.分部,
                        總表號: this.總表號,
                    };
                    let response = await axios.post('GetDetailDataPost', postData, {
                        headers: {
                            'content-type': 'application/json',
                            "RequestVerificationToken": "@requestToken"
                        }
                    });

                    let latestData = TSCC.Utility.Table.GetDataSource.call(this, detailTableKeys, response);

                    //轉成台灣時間
                    latestData.forEach(data => {
                        Object.entries(dateTimePropertyName[TableType.DetailTable]).forEach(([propName, dateType]) => {
                            let dateISOstring = data[propName];
                            if (data.hasOwnProperty(propName) && dateISOstring) {
                                data[propName] = new Date(dateISOstring).to_zhTW_string(dateType);
                            }
                        });
                    });

                    return latestData;
                } catch (error) {
                    debugger;
                    console.log(error);
                    return [];
                }
            }
            //點擊時發生呼叫事件
            const _onMasterRowSelect = function (rowData) {
                var selectParam = {
                    事業: null,
                    單位: null,
                    部門: null,
                    分部: null,
                    總表號: null,
                };

                if (rowData.length > 0) {
                    let data = rowData[0];
                    selectParam.事業 = this.事業 = data.事業;
                    selectParam.單位 = this.單位 = data.單位;
                    selectParam.部門 = this.部門 = data.部門;
                    selectParam.分部 = this.分部 = data.分部;
                    selectParam.總表號 = this.總表號 = data.總表號;
                    this.selectedMasterRow.param = selectParam;
                    @*debugger;*@
                    this.selectedMasterRow.params = selectParam;
                    @*debugger;*@

                    //傳送給server時, 轉ISO時間
                    Object.entries(dateTimePropertyName[TableType.MasterTable]).forEach(([propName, dateType]) => {
                        let dateLocalestring = data[propName];
                        if (selectParam.hasOwnProperty(propName) && data.hasOwnProperty(propName) && dateLocalestring) {
                            selectParam[propName] = this[propName] = Date.parse_zhTW_string(dateLocalestring).toISOString();
                        }
                    });
                    @*this.$forceUpdate();*@
                    Object.assign(this.selectedMasterRow.params, {
                        canClickEditOrDelete: rowData[0]['可否編輯刪除']
                    });
                    this.$forceUpdate();
                }
                else {
                    console.warn("[DEBUG] 主檔未選擇任何列！");
                    @*this.isBusy = false; // 顯示 Loading 遮罩
                    console.log("busy?", this.isBusy);*@
                }

                //#endregion

            }

            const _onDetailRowSelect = function (rowData) {
                var selectParam = {};
                let data = rowData[0];
                selectParam.事業 = this.事業 = data.事業;
                selectParam.單位 = this.單位 = data.單位;
                selectParam.部門 = this.部門 = data.部門;
                selectParam.分部 = this.分部 = data.分部;
                selectParam.總表號 = this.總表號 = data.總表號;
                selectParam.分表號 = this.分表號 = data.分表號;
                this.selectedDetailRow.param = selectParam;

                //傳送給server時, 轉ISO時間
                Object.entries(dateTimePropertyName[TableType.DetailTable]).forEach(([propName, dateType]) => {
                    let dateLocalestring = data[propName];
                    if (selectParam.hasOwnProperty(propName) && data.hasOwnProperty(propName) && dateLocalestring) {
                        selectParam[propName] = this[propName] = Date.parse_zhTW_string(dateLocalestring).toISOString();
                    }
                });
            }

            const _onToggleRowDetail = function (event, row) {
                 row.selectRow();
            }
            const _assignFilter = function (filterData) {
                let shouldRefresh = this.isFiltered || (filterData && Object.keys(filterData).length > 0);
                this.isFiltered = !!filterData && Object.keys(filterData).length > 0;
                dsMasterProviderParams.searchBy = filterData;
                shouldRefresh && this.refreshMasterTable();
            }

            //#endregion

            //#region 匯出
            const _onDataExport = async function () {
                let response = await axios.post('@Url.Action("Export","TR5MidTermController")', dsMasterProviderParams, {
                    responseType: 'blob',
                    headers: {
                        RequestVerificationToken: "@requestToken"
                    },
                });

                const url = window.URL.createObjectURL(new Blob([response.data], {
                    type: response.headers['content-type']
                }));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'TR5MidTermController.ods');
                document.body.appendChild(link);
                link.click();
            }
            //#endregion
            //#region 預設filter
            //覆寫欄位尋找與清除事件
            const _onFilterValueUpdate = function (event) {
                const keyCodeAllowRegExp = /\b(8|4[6-9]|5[0-7]|6[5-9]|[7|8]\d|90|9[6-9]|10[0-5]|10[7-9]|11[0-1]|18[7-9]|13)\b/;
                if (typeof(event) == 'KeyboardEvent' && keyCodeAllowRegExp.test(event.keyCode.toString()) == false) return;
                let filterDataObj = {};
                for (let inputRef in this.$parent.$refs) {
                    let [inputInst, val] = [this.$parent.$refs[inputRef][0], ""];
                    if (inputRef.includes('filter_input_') && (val = inputInst.vModelValue).length > 0) {
                        filterDataObj[inputInst.name] = { condit: 'eq', value: val};
                    }
                }
                _assignFilter.call(this, filterDataObj);
            }

            const _onAdvanceSearch = function(qParams) {
                let filterDataObj = {};
                for (const [key, searchParam] of Object.entries(qParams)) {
                    console.log(`${key}: ${searchParam.condit},  ${searchParam.value}`);
                    filterDataObj[key] = searchParam;
                }
                _assignFilter.call(this, filterDataObj);
            }

            const _onCleanFilter = function () {
                dsMasterProviderParams.searchBy = null;
                for (let inputRef in this.$parent.$refs) {
                    let inputInst = this.$parent.$refs[inputRef][0];
                    if (inputRef.includes('filter_input_')) {
                        inputInst.vModelValue = "";
                        inputInst.$el.value = "";
                    }
                }
                _assignFilter.call(this, null);
            }

            const _onFiltered = function (event) {
                console.log("_onFiltered customize: ", event);
            }

            // 🔸宣告函式區塊：可放在 _serverReturned 同一層（或上方）
            const showAlertByReturnData = (retData, successSeconds = 3, errorSeconds = 5) => {
                let title = '';
                let content = '';
                let isSuccess = (retData?.returnCode === 'OK');

                if (isSuccess) {
                    title = '成功';
                    content = retData.message || '操作成功';
                    SharedVue.alertBox(successSeconds).showSuccessAlert(title, content);
                } else {
                    title = '錯誤';

                    if (retData?.data?.length > 0) {
                        const firstErrorEntry = retData.data[0];
                        const field = firstErrorEntry.Key;
                        const fieldMessages = firstErrorEntry.Value;

                        if (fieldMessages?.length > 0) {
                            content = `${field}：${fieldMessages[0]}`;
                        }
                    } else if (retData?.message) {
                        content = retData.message;
                    } else {
                        content = '操作失敗，請稍後再試。';
                    }

                    SharedVue.alertBox(errorSeconds).showErrorAlert(title, content);
                }
            };

            const _serverReturned = function (retData) {
                ShowValidateResult(retData, { filter: '#ModelErrorDiv' });
                console.log("serverReturned customize: ", retData);
                //#region ALERT BOXS
                showAlertByReturnData(retData);
                //#endregion
            }
             

            const _onBeforeMount = function (tableInstance) {
                //tableInstance.stickyHeaderHeight = `${200}px`
                console.log("onBeforeMount customize");
            }

            const _onMounted = function (tableInstance) {
                console.log("_onMounted customize");
            }

            //#endregion
            //#region 自定義:query
            const _querySelectOptions = Vue.reactive({

                事業: ConvertSelectListItemsToBFormSelectOptions(@Json.Serialize(ViewBag.事業選單)),
                單位: ConvertSelectListItemsToBFormSelectOptions(@Json.Serialize(ViewBag.單位選單)),
                部門: ConvertSelectListItemsToBFormSelectOptions(@Json.Serialize(ViewBag.部門選單)),
                分部: ConvertSelectListItemsToBFormSelectOptions(@Json.Serialize(ViewBag.分部選單)),
                @*刪除註記: [
                    { text: '不限', value: '%' },
                     { text: '是', value: "true"},
                     { text: '否', value: "false"}],*@
            });
            const _querySchema = [
                { key: '事業', label: '事業', type: 'select' },
                { key: '單位', label: '單位', type: 'select' },
                { key: '部門', label: '部門', type: 'select' },
                { key: '分部', label: '分部', type: 'select' },
                @*{ key: '刪除註記', label: '刪除註記', type: 'radio', useBoostrapButtons: true }, // slot 會自訂成 button group*@

            ];

            const _queryChanged = function (key, value) {

                if (key == '事業') {
                    onBizSelectChanged();
                }
                else if (key == '單位') {
                    onDepSelectChanged();
                }
                else if (key == '部門') {
                    onBranchSelectChanged();
                }
            };
            const onBizSelectChanged = function () {
    $.get('@Url.Action("GetDepartmentSelectList", "TR5MidTerm02")',
        { Biz: _queryData.事業 },
        (data) => {
            _querySelectOptions.單位 = ConvertSelectListItemsToBFormSelectOptions(data);
            _queryData.單位 = '';
            _querySelectOptions.部門 = [];
            _queryData.部門 = '';
            _querySelectOptions.分部 = [];
            _queryData.分部 = '';
        }
    );
};
            const onDepSelectChanged = function () {
    $.get('@Url.Action("GetDivisionSelectList", "TR5MidTerm02")',
        {
            Biz: _queryData.事業,
            DepNo: _queryData.單位
        },
        (data) => {
            _querySelectOptions.部門 = ConvertSelectListItemsToBFormSelectOptions(data);
            _queryData.部門 = '';
            _querySelectOptions.分部 = [];
            _queryData.分部 = '';
        }
    );
};
            const onBranchSelectChanged = function () {
    $.get('@Url.Action("GetBranchSelectList", "TR5MidTerm02")',
        {
            Biz: _queryData.事業,
            DepNo: _queryData.單位,
            DivNo: _queryData.部門
        },
        (data) => {
            _querySelectOptions.分部 = ConvertSelectListItemsToBFormSelectOptions(data);
            _queryData.分部 = '';
        }
    );
            };
            const _queryFilterClicked = function () {//當按下查詢按鈕
                _onAdvanceSearch.call(this, getQueryCondits.call(this));
            };
            const getQueryCondits = function () {
                let filterDataObj = {};
                this.params.data.querySchema.forEach((item) => {
                    let val = this.params.data.queryData[item.key];
                    if (val === null || val === '' || val === '%' || val === 'TS' || val.length === 0) {
                        return;
                    }

                    filterDataObj[item.key] = { condit: 'eq', value: val };
                });
                return filterDataObj;
            }
            const _queryResetAll = function () {//按下清除鈕會觸發的function。清除下拉選單內容、回復預設選項，並重新讀取資料。
                _queryData.事業 = '';
                _queryData.單位 = '';
                _queryData.部門 = '';
                _queryData.分部 = '';
                @* _queryData.刪除註記 = '%';*@
                _onAdvanceSearch.call(this, getQueryCondits.call(this));
            }
            const _queryData = Vue.reactive({//給default value
                事業: '',
                單位: '',
                部門: '',
                分部: '',
                @* 刪除註記: '%',*@

            });
            //#endregion
            //#region 自定義:顏色
            const _getClassForDetailContent = function (rowData) {
                const item = rowData.item;
                @*debugger;*@
                @*console.log(item);*@
                if (item['目前使用度數'] >= 500) {
                    return 'text-danger'; // 紅
                }
                else {
                    return '';
                }
            }

            //#endregion
            //#region 自定義:明細按鈕
            const getMasterTableActionButtonConfig = function (rowData) {
                @*debugger;*@
                @*console.log(rowData.item.可否展開);*@
                @*console.log("可否新增:", rowData.item.可否新增);*@
                return [
                    {
                        text: '展開明細',
                        willShow: true,  // ✅ 控制顯示與否
                        @*willShow: rowData.item.可否展開,  // ✅ 控制顯示與否*@
                        @*variant: 'outline-detail1',*@
                        @*variant: 'custom-outline-detail',*@
                        variant: rowData.item.可否展開 ? 'outline-detail1' : 'custom-outline-disabled',
                        eventHandler: (event, rowData) => {
                            if (!rowData.item.可否展開) {
                                alert('查無明細'); // ✅ 顯示理由
                                return;
                            }
                            this._toggleRowDetail(event, rowData);  // ✅ 正確方法
                        }
                    },
                    {
                        text: '新增明細',
                        @*willShow: rowData.item.可否新增,*@
                        willShow: true,
                        @*variant: 'outline-detail1',*@
                        variant: rowData.item.可否新增 ? 'outline-detail1' : 'custom-outline-disabled',
                        eventHandler: (event, rowData) => {
                            debugger;
                            if (!rowData.item.可否新增) {
                                alert('無法新增：組織不符資格'); // ✅ 顯示理由
                                return;
                            }
                            else {
                                this._createOneDetail(event, rowData);
                            }
                        }
                    },
                    @*{
                        text: '按鈕3',
                        willShow: true,
                        variant: 'outline-detail1',
                        eventHandler: () => { alert('btn 3'); }
                    },
                    {
                        text: '按鈕4',
                        willShow: true,
                        variant: 'outline-detail1',
                        eventHandler: () => { alert('btn 4'); }
                    }*@
                ];
            }
            const getDetailTableActionButtonConfig = function (rowData) {
                return [
                    {
                        text: '編輯明細',
                        willShow: true, // 預設顯示
                        variant: rowData.item.可否修改明細 ? 'outline-detail1' : 'custom-outline-disabled',
                        eventHandler: (event, rowData) => {
                            if (!rowData.item.可否修改明細) {
                                alert('無法編輯：此明細已鎖定或未具編輯權限');
                                return;
                            }
                            this.$refs.private_detailTable._editOneDetail(event, rowData);
                        }
                    },
                    {
                        text: '刪除明細',
                        willShow: true, // 預設顯示
                        variant: rowData.item.可否刪除明細 ? 'outline-detail1' : 'custom-outline-disabled',
                        eventHandler: (event, rowData) => {
                            if (!rowData.item.可否刪除明細) {
                                alert('無法刪除：資料狀態不允許或未具刪除權限');
                                return;
                            }
                            this.$refs.private_detailTable._deleteOneDetail(event, rowData);
                        }
                    }
                ];
            };
            //#endregion

            //#region 注入data
            let _opPermiss = { canCreate: @canCreate, canUpdate: @canUpdate, canDelete: @canDelete, canQuery: @canQuery, canExport: @canExport };
            const params = { data: null, methods: null };
            params.data = {
                // codeGenerator
                mTableFieldDesc: _mTableFieldDesc,
                dTableFieldDesc: _dTableFieldDesc,
                operatePermissions: _opPermiss,
                isFiltered: false,
                isNewItemOnTop: true,
                事業: '',
                單位: '',
                部門: '',
                分部: '',
                總表號: '',

                //自定義:query注入
                querySchema: _querySchema,
                querySelectOptions: _querySelectOptions,
                queryData: _queryData,

                //自定義:按鈕判斷
                isBusy: false,
                anClickEditOrDelete: false,

            }
            //#endregion
            //#region 注入method
            params.methods = {
                //系統覆寫
                dsMasterProvider: _dsMasterProvider,
                onMasterRowSelect: _onMasterRowSelect,
                serverReturned: _serverReturned,
                onFiltered: _onFiltered,
                onBeforeMount: _onBeforeMount,
                onMounted: _onMounted,
                dsDetailProvider: _dsDetailProvider,
                onDetailRowSelect: _onDetailRowSelect,
                onToggleRowDetail: _onToggleRowDetail,
                //User自訂
                onFilterValueUpdate: _onFilterValueUpdate,
                onAdvanceSearch: _onAdvanceSearch,
                onCleanFilter: _onCleanFilter,
                onDataExport: _onDataExport,
                //自定義:query注入
                queryChanged: _queryChanged,
                queryResetAll: _queryResetAll,
                queryFilterClicked: _queryFilterClicked,
                //自定義:顏色設定
                getClassForDetailContent: _getClassForDetailContent,
                //自定義:明細按鈕
                getMasterTableActionButtonConfig,
                getDetailTableActionButtonConfig
            };
            //#endregion
            //掛載Table
            TSC_NS.CreateVue(params).$mount('#tr5midtermcontroller-index');
        })();
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
